<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Pokemolist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>Pokemonlist</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Gender</th>
            <th>Cp</th>
            
        </tr>
        <tbody>
            <tr th:each="pokemon : ${pokemons}">
                <td th:text="${pokemon.name}"></td>
                <td th:text="${pokemon.type}"></td>
                <td th:text="${pokemon.weight}"></td>
                <td th:text="${pokemon.height}"></td>
                <td th:text="${pokemon.gender}"></td>
                <td th:text="${pokemon.number}"></td>
                <td><a th:href="@{/delete/{id}(id=${pokemon.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/add" class="btn btn-primary">Add Pokemon</a>
</body>
</html>





